/* ----------------------------------------------------------------------------
components.css                                                                  
Enthält alle Regeln zu Module.  

@media (min-width:600px) { }
@media (min-width:801px) { }
@media (min-width:1025px) {  }
@media (min-width:1281px) { }
----------------------------------------------------------------------------*/



/* Portfolio Item
-----------------------------------------------------------------------------*/

.m-portfolioItem, .m-portfolioItemCentered, .m-portfolioItem3Columns, .m-portfolioItemCenteredImg, .m-portfolioItem2Columns{
  margin-bottom: var(--xxxl);
}

@media only screen and (min-width: 801px) {
  .m-portfolioItem{
    display: grid;
    grid-template-columns: 31.677% 1fr;
    grid-column-gap: var(--xl);
  }
  .m-portfolioItem2Columns{
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-column-gap: var(--xl);
  }
  .m-portfolioItemCenteredImg{
    display: block;
  }
  .m-portfolioItemCentered{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 8%;
  }
  .m-portfolioItem3Columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--xl);
  }
}

.m-portfolioItem + *, .m-portfolioItemCentered + *, .m-portfolioItem3Columns + *, .m-portfolioItemCenteredImg + *, .m-portfolioItem2Columns + *{
  border-top: solid 1px var(--color-text-light);
  padding-top: var(--xxxl);
  margin-top: var(--xxxl);
}

.m-portfolioItem-title, .m-portfolioItem-subtitle{
  padding: 0;
  margin: 0;
  margin-bottom: var(--m);
}

.m-portfolioItem-title + .m-portfolioItem-subtitle{
  margin-top: calc(var(--m) * -1);
}

.m-portfolioItemCentered-subtitle{
  margin-top: 0%;
}
.m-portfolioItemCentered-title{
  margin-bottom: var(--xs);
}

.m-portfolioItem-image{
  margin-bottom: var(--m);
}

.m-portfolioItem3Columns .m-portfolioItem-image{
  margin-bottom: var(--xl);
}

.m-portfolioItem3Columns h3{
  margin-top: 1em;
}

.m-portfolioItemCenteredImg .m-portfolioItem-image{
  margin-bottom: 0;
}



/* Buttons
-----------------------------------------------------------------------------*/

.m-linkButton{
  display: inline-block;
  padding: var(--xs) var(--s);
  background-color: var(--color-accent);
  color: var(--color-backgrounds);
  border: none;
  transition: all 0.2s;
}

.m-linkButton:hover{
  background: #000;
}